In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [47]:
df = pd.read_csv('features.csv')

In [48]:
df['BALANCE'] = (df['BALANCE'] - df['BALANCE'].min()) / (df['BALANCE'].max() - df['BALANCE'].min())

In [49]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled = scaler.fit_transform(df[['WON']])
df['WON'] = scaled
rankdiff = scaler.fit_transform(df[['RANKDIFF']])
df['RANKDIFF'] = rankdiff
df

,Name,SP,RP,SRP,LRP,FHP,BHP,RANK,RANKDIFF,SA,SRA,FHA,BALANCE,WON
0,Zhendong Fan,0.600,0.400,0.244,0.756,0.511,0.489,1,-0.062078,0.200,-0.512,0.022,0.353155,1.0
1,Ovtcharov Dimitrij,0.666,0.334,0.194,0.806,0.171,0.829,12,0.062078,0.332,-0.612,-0.658,0.879854,-1.0
2,Long Ma,0.522,0.478,0.295,0.705,0.720,0.280,3,-0.039504,0.044,-0.410,0.440,0.450243,1.0
3,Boll Timo,0.558,0.442,0.205,0.795,0.617,0.383,10,0.039504,0.116,-0.590,0.234,0.478155,-1.0
4,Long Ma,0.561,0.439,0.157,0.843,0.578,0.422,3,0.011287,0.122,-0.686,0.156,0.492718,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,BERTRAND IRVIN,0.552,0.448,0.421,0.579,0.702,0.298,368,2.020364,0.104,-0.158,0.404,0.311893,-1.0
354,KARLSSON KRISTIAN,0.555,0.445,0.361,0.639,0.638,0.362,28,-0.152374,0.110,-0.278,0.276,0.310680,-1.0
355,IONESCU OVIDIU,0.525,0.475,0.275,0.725,0.615,0.385,55,0.152374,0.050,-0.450,0.230,0.350728,1.0
356,BOLL TIMO,0.512,0.488,0.179,0.821,0.666,0.334,10,-0.744939,0.024,-0.642,0.332,0.513350,1.0
357,MENGEL STEFFEN,0.461,0.539,0.269,0.731,0.680,0.320,142,0.744939,-0.078,-0.462,0.360,0.453883,-1.0

In [50]:
player_ids = {}
ID=1

for n in list(df['Name']):
    if n.lower() in player_ids:
        continue
    else:
        player_ids[n.lower()]=ID
        ID+=1

player_id = []
for n in list(df['Name']):
    player_id.append(player_ids[n.lower()])

In [51]:
df['Player ID'] = player_id

In [53]:
#df = df.drop(columns=['Name'])
df.to_csv('playerid.csv', index=False)

        SP     RP    SRP    LRP    FHP    BHP  RANK  RANKDIFF     SA    SRA  \
0    0.600  0.400  0.244  0.756  0.511  0.489     1 -0.062078  0.200 -0.512
1    0.666  0.334  0.194  0.806  0.171  0.829    12  0.062078  0.332 -0.612
2    0.522  0.478  0.295  0.705  0.720  0.280     3 -0.039504  0.044 -0.410
3    0.558  0.442  0.205  0.795  0.617  0.383    10  0.039504  0.116 -0.590
4    0.561  0.439  0.157  0.843  0.578  0.422     3  0.011287  0.122 -0.686
..     ...    ...    ...    ...    ...    ...   ...       ...    ...    ...
353  0.552  0.448  0.421  0.579  0.702  0.298   368  2.020364  0.104 -0.158
354  0.555  0.445  0.361  0.639  0.638  0.362    28 -0.152374  0.110 -0.278
355  0.525  0.475  0.275  0.725  0.615  0.385    55  0.152374  0.050 -0.450
356  0.512  0.488  0.179  0.821  0.666  0.334    10 -0.744939  0.024 -0.642
357  0.461  0.539  0.269  0.731  0.680  0.320   142  0.744939 -0.078 -0.462

       FHA   BALANCE  WON  Player ID
0    0.022  0.353155  1.0          1
1   -0.658  0.879854 -1.0          2
2    0.440  0.450243  1.0          3
3    0.234  0.478155 -1.0          4
4    0.156  0.492718  1.0          3
..     ...       ...  ...        ...
353  0.404  0.311893 -1.0         24
354  0.276  0.310680 -1.0         41
355  0.230  0.350728  1.0         26
356  0.332  0.513350  1.0          4
357  0.360  0.453883 -1.0         52

[358 rows x 14 columns]

In [39]:
player_averages=[]
for player in range(1, len(player_ids)+1):
    games = (df.loc[df['Player ID'] == player]).values.tolist()
    if player==7:
        print(games)
    averages = [0]*len(games[0])
    for i in range(len(games)):
        averages = [sum(j) for j in zip(averages, games[i])]
    averages = [i/len(games) for i in averages]
    #print(averages)
    player_averages.append(averages)

[[0.511, 0.489, 0.311, 0.689, 0.466, 0.534, 2.0, 0.005643475586189015, 0.022, -0.3779999999999999, -0.068, 0.1917475728155341, 7.0], [0.522, 0.478, 0.477, 0.523, 0.604, 0.396, 2.0, -0.005643475586189015, 0.044, -0.046, 0.2079999999999999, 0.0885922330097088, 7.0]]

In [34]:
columns = ['SP','RP','SRP','LRP','FHP','BHP','RANK','RANKDIFF','SA','SRA','FHA','BALANCE','Player ID']
profiles = pd.DataFrame(np.array(player_averages),
                   columns=columns)

In [35]:
profiles

,SP,RP,SRP,LRP,FHP,BHP,RANK,RANKDIFF,SA,SRA,FHA,BALANCE,Player ID
0,0.564667,0.435333,0.284333,0.715667,0.481667,0.518333,1.0,-0.035742,0.129333,-0.431333,-0.036667,0.322816,1.0
1,0.590800,0.409200,0.267000,0.733000,0.382800,0.617200,12.0,-0.024831,0.181600,-0.466000,-0.234400,0.442961,2.0
2,0.559000,0.441000,0.232667,0.767333,0.679000,0.321000,3.0,-0.026336,0.118000,-0.534667,0.358000,0.521036,3.0
3,0.526125,0.473875,0.297000,0.703000,0.699625,0.300375,10.0,-0.629953,0.052250,-0.406000,0.399250,0.428095,4.0
4,0.533000,0.467000,0.294000,0.706000,0.536500,0.463500,7.0,0.002822,0.066000,-0.412000,0.073000,0.250607,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,0.478500,0.521500,0.311000,0.689000,0.585500,0.414500,9.0,-1.416512,-0.043000,-0.378000,0.171000,0.266990,60.0
60,0.466000,0.534000,0.366000,0.634000,0.551000,0.449000,88.0,0.389400,-0.068000,-0.268000,0.102000,0.173544,61.0
61,0.689000,0.311000,0.310000,0.690000,0.724000,0.276000,288.0,0.000000,0.378000,-0.380000,0.448000,0.639563,62.0
62,0.562000,0.438000,0.187000,0.813000,0.812000,0.188000,530.0,2.883816,0.124000,-0.626000,0.624000,0.741505,63.0
63,0.484000,0.516000,0.303000,0.697000,0.818000,0.182000,441.0,1.975216,-0.032000,-0.394000,0.636000,0.552184,64.0

In [36]:
profiles.to_csv('player_averages.csv', index=False)