In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data_scaled.csv')

In [3]:
data

,SP,RP,SRP,LRP,FHP,BHP,RANK,RANKDIFF,SA,SRA,FHA,BALANCE,WON
0,0.600,0.400,0.244,0.756,0.511,0.489,1,-0.062078,0.200,-0.512,0.022,0.353155,1.0
1,0.666,0.334,0.194,0.806,0.171,0.829,12,0.062078,0.332,-0.612,-0.658,0.879854,-1.0
2,0.522,0.478,0.295,0.705,0.720,0.280,3,-0.039504,0.044,-0.410,0.440,0.450243,1.0
3,0.558,0.442,0.205,0.795,0.617,0.383,10,0.039504,0.116,-0.590,0.234,0.478155,-1.0
4,0.561,0.439,0.157,0.843,0.578,0.422,3,0.011287,0.122,-0.686,0.156,0.492718,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
353,0.552,0.448,0.421,0.579,0.702,0.298,368,2.020364,0.104,-0.158,0.404,0.311893,-1.0
354,0.555,0.445,0.361,0.639,0.638,0.362,28,-0.152374,0.110,-0.278,0.276,0.310680,-1.0
355,0.525,0.475,0.275,0.725,0.615,0.385,55,0.152374,0.050,-0.450,0.230,0.350728,1.0
356,0.512,0.488,0.179,0.821,0.666,0.334,10,-0.744939,0.024,-0.642,0.332,0.513350,1.0
357,0.461,0.539,0.269,0.731,0.680,0.320,142,0.744939,-0.078,-0.462,0.360,0.453883,-1.0

In [4]:
data = data.drop(columns=['BALANCE', 'FHA', 'SA', 'SRA', 'FHA','RANKDIFF'])

In [5]:
data

        SP     RP    SRP    LRP    FHP    BHP  RANK  WON
0    0.600  0.400  0.244  0.756  0.511  0.489     1  1.0
1    0.666  0.334  0.194  0.806  0.171  0.829    12 -1.0
2    0.522  0.478  0.295  0.705  0.720  0.280     3  1.0
3    0.558  0.442  0.205  0.795  0.617  0.383    10 -1.0
4    0.561  0.439  0.157  0.843  0.578  0.422     3  1.0
..     ...    ...    ...    ...    ...    ...   ...  ...
353  0.552  0.448  0.421  0.579  0.702  0.298   368 -1.0
354  0.555  0.445  0.361  0.639  0.638  0.362    28 -1.0
355  0.525  0.475  0.275  0.725  0.615  0.385    55  1.0
356  0.512  0.488  0.179  0.821  0.666  0.334    10  1.0
357  0.461  0.539  0.269  0.731  0.680  0.320   142 -1.0

[358 rows x 8 columns]

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import scikitplot as skplt
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold

In [7]:
columns = ['SP', 'RP', 'SRP', 'LRP', 'FHP', 'BHP', 'RANK']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data[columns], data.WON, train_size=0.9)

In [9]:
model1 = LogisticRegression()
model1.fit(X_train, y_train)
model1.predict(X_test)
model1.score(X_test, y_test)

0.6944444444444444

In [21]:
from sklearn.model_selection import RepeatedStratifiedKFold
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [24]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.5277777777777778

In [25]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, data[columns], data.WON, cv=cv)
print('Cross-Validation Accuracy Scores', scores)
scores = pd.Series(scores)
scores.min(), scores.mean(), scores.max()

Cross-Validation Accuracy Scores [0.66666667 0.58333333 0.66666667 0.66666667 0.58333333 0.69444444
 0.63888889 0.61111111 0.62857143 0.51428571 0.66666667 0.58333333
 0.63888889 0.66666667 0.61111111 0.52777778 0.63888889 0.61111111
 0.65714286 0.71428571 0.69444444 0.63888889 0.72222222 0.66666667
 0.61111111 0.72222222 0.44444444 0.61111111 0.71428571 0.68571429]

(0.4444444444444444, 0.636031746031746, 0.7222222222222222)

In [33]:
from sklearn import metrics
from sklearn import svm
clf = svm.SVC(kernel='sigmoid') # Linear Kernel
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5

In [34]:
scores = cross_val_score(clf, data[columns], data.WON, cv=cv)
print('Cross-Validation Accuracy Scores', scores)
scores = pd.Series(scores)
scores.min(), scores.mean(), scores.max()

Cross-Validation Accuracy Scores [0.66666667 0.61111111 0.52777778 0.47222222 0.63888889 0.61111111
 0.5        0.52777778 0.54285714 0.54285714 0.63888889 0.61111111
 0.36111111 0.72222222 0.63888889 0.47222222 0.52777778 0.33333333
 0.48571429 0.74285714 0.61111111 0.52777778 0.36111111 0.44444444
 0.44444444 0.66666667 0.61111111 0.66666667 0.54285714 0.71428571]

(0.3333333333333333, 0.5588624338624338, 0.7428571428571429)

In [35]:
from sklearn.neural_network import MLPClassifier

#Initializing the MLPClassifier
classifier = MLPClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
#Comparing the predictions against the actual observations in y_val
cm = confusion_matrix(y_pred, y_test)

In [36]:
scores = cross_val_score(classifier, data[columns], data.WON, cv=cv)
print('Cross-Validation Accuracy Scores', scores)
scores = pd.Series(scores)
scores.min(), scores.mean(), scores.max()

/Users/sophiechiang/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
/Users/sophiechiang/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Cross-Validation Accuracy Scores [0.69444444 0.66666667 0.69444444 0.63888889 0.66666667 0.66666667
 0.52777778 0.5        0.65714286 0.54285714 0.61111111 0.61111111
 0.58333333 0.75       0.72222222 0.55555556 0.5        0.63888889
 0.57142857 0.71428571 0.75       0.55555556 0.52777778 0.75
 0.5        0.75       0.52777778 0.58333333 0.68571429 0.68571429]

(0.5, 0.6276455026455027, 0.75)