In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import scikitplot as skplt
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn import metrics
from sklearn import svm

In [15]:
df = pd.read_csv('player_averages.csv')
df

,SP,RP,SRP,LRP,FHP,BHP,RANK,RANKDIFF,SA,SRA,FHA,BALANCE,Player ID
0,0.564667,0.435333,0.284333,0.715667,0.481667,0.518333,1.0,-0.035742,0.129333,-0.431333,-0.036667,0.322816,1.0
1,0.590800,0.409200,0.267000,0.733000,0.382800,0.617200,12.0,-0.024831,0.181600,-0.466000,-0.234400,0.442961,2.0
2,0.559000,0.441000,0.232667,0.767333,0.679000,0.321000,3.0,-0.026336,0.118000,-0.534667,0.358000,0.521036,3.0
3,0.526125,0.473875,0.297000,0.703000,0.699625,0.300375,10.0,-0.629953,0.052250,-0.406000,0.399250,0.428095,4.0
4,0.533000,0.467000,0.294000,0.706000,0.536500,0.463500,7.0,0.002822,0.066000,-0.412000,0.073000,0.250607,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,0.478500,0.521500,0.311000,0.689000,0.585500,0.414500,9.0,-1.416512,-0.043000,-0.378000,0.171000,0.266990,60.0
60,0.466000,0.534000,0.366000,0.634000,0.551000,0.449000,88.0,0.389400,-0.068000,-0.268000,0.102000,0.173544,61.0
61,0.689000,0.311000,0.310000,0.690000,0.724000,0.276000,288.0,0.000000,0.378000,-0.380000,0.448000,0.639563,62.0
62,0.562000,0.438000,0.187000,0.813000,0.812000,0.188000,530.0,2.883816,0.124000,-0.626000,0.624000,0.741505,63.0
63,0.484000,0.516000,0.303000,0.697000,0.818000,0.182000,441.0,1.975216,-0.032000,-0.394000,0.636000,0.552184,64.0

In [11]:
df.loc[df['Player ID'] == 1]

,SP,RP,SRP,LRP,FHP,BHP,RANK,RANKDIFF,SA,SRA,FHA,BALANCE,Player ID
0,0.564667,0.435333,0.284333,0.715667,0.481667,0.518333,1.0,-0.035742,0.129333,-0.431333,-0.036667,0.322816,1.0

In [12]:
a[0]

[0.5646666666666667,
 0.4353333333333333,
 0.2843333333333333,
 0.7156666666666668,
 0.4816666666666667,
 0.5183333333333333,
 1.0,
 -0.0357420120458637,
 0.1293333333333333,
 -0.4313333333333333,
 -0.0366666666666666,
 0.3228155339805826,
 1.0]